    <!-- Download Section -->
    <section id="referenzen" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Referenzen</h2>
                    <p>Service AdamForster war unter anderem schon an folgenden Festen im Einsatz: </p>


	<p>
	Pfingstchilbi Derendingen <br />
	Jodlerfest Derendingen <br />
	Märetfescht Solothurn <br />
	Turnershow Bellach <br />
	Turnershow Langendorf <br />
	Regionalmusiktag Flumenthal<br />
	Hornusserfeste Messen 2017<br />
        51. Bernisch-Kantonales Jodlerfest Wangen an der Aare</p>

	<p>Die grösste Halle bisher fasste 1000 Sitzplätze.</p>
	<p>Seit 2017 ist Service AdamForster an der Geneva International Motor Show im Einsatz, 10'000 Essen in 10 Tagen...</p>	
	<p>Und was am Automobilsalon in Genf funktioniert, verhilft auch Ihrem Anlass zu einem glanzvollen Service.</p>


                </div>
            </div>
        </div>
    </section>
